.task-column {
	display: block;
	background: #dfdfdf;
	position: relative;
	transition: all 0.7s ease;
	width: 350px;
	margin: 10px;
	min-height: 0;
	max-height: 100%;
	border-radius: 3px; 
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	overflow: hidden;
	&:hover {
		position: relative;
	}
	h2 {
		cursor: default;
		font-family: montserrat;
		font-size: 12px;
		color: rgb(87, 87, 87);
		display: inline-block;
		margin: 10px 10px;
	}
	.badge {
		cursor: default;
		display: inline-block;
		width: 15px;
		height: 15px;
		text-align: center;
		font-family: montserrat;
		font-size: 12px;
		line-height: 15px;
		border-radius: 1px;
		background: grey;
		color: white;
	}
	ul {
		position: relative;
		list-style: none;
		margin: 0 10px;
		padding: 10px 0;
		min-height: 0;
		max-height: 70vh;
		overflow: auto;
		div {
			button {
				background: none;
				border: 1px solid rgb(194, 194, 194);
				color: grey;
				position: absolute;
				right: 34px;
				top: 5px;
				-moz-user-select: none; 
				-ms-user-select: none; 
				-o-user-select: none; 
				-webkit-user-select: none;
				cursor: pointer;
				&:focus {
					outline: none;
				}
				&:hover {
					color: grey;
					border: 1px solid grey;
				}
			}
			button:nth-child(2) {
				display: none;
			}	
		}	
	}
}

