@import url('https://fonts.googleapis.com/css?family=Montserrat');

::-webkit-scrollbar {
	width: 5px;
}
 
::-webkit-scrollbar-thumb {
	background: rgba(150, 150, 150, 0.582);
	border-radius: 5px;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
	background-image: url(/src/styles/images/Naturaleza.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100px;
	max-height: 100vh;
	overflow: hidden;
}

#to-do-list-columns {
	display: inline-flex;
	justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding-bottom: 10px;
	align-content: flex-start;
}



