li {
  border-radius: 4px;
  div {
    padding: 0 5px;
    background: white;
    #editor {
      animation: show_onEdit .5s ease;
      height: 190px;
    }
    &:hover {
      background: rgb(241, 241, 241);
    }
  }
  &:hover .edit {
    display: block;
  }
  cursor: pointer;
  max-height: 400px;
  position: relative;
  overflow: hidden;
  font-family: 'century gothic';
  margin: 0px 0;
  border: 1px solid #ddd;
  .edit {
    display: none;
    background: none;
    border: 1px solid rgb(194, 194, 194);
    color: grey;
    position: absolute;
    right: 4px !important;
    top: 5px;
    width: 25px;
    height: 21px;
    -moz-user-select: none; 
    -ms-user-select: none; 
    -o-user-select: none; 
    -webkit-user-select: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      color: grey;
      border: 1px solid grey;
    }
  }
  .title, .field1 {
    cursor: pointer;
    width: 80%;
    height: auto;
    display: block;
    border: none;
    background: none;
    font-size: 16px;
    color: grey;
    margin: 0;
    margin-bottom: 10px;
    resize: none;
    &:focus {
      outline: none;
    }
  }
  .field1 {
    position: relative;
    height: 60px;
    background: white;
    z-index: 2;
    top: 5px;
  }
  label {
    cursor: pointer;
    -moz-user-select: none; 
    -ms-user-select: none; 
    -o-user-select: none; 
    -webkit-user-select: none;
    color: grey; 
    font-size: 14px;
    display: none;
    width: 28px;
    height: 16px;
    margin-left: 4px;
    padding: 2px 0;
    text-align: center;
    border-radius: 3px;
    line-height: 17px;
    &:hover {
      background: #ddd;
    }
  }
  .fa-pencil {
    font-size: 12px;
    color: inherit;
    display: inline-block;
  }
  .task-des, .field2 {
    cursor: pointer;
    margin-top: 7px;
    display: block;
    background: none;
    resize: none;
    border: none;
    overflow: hidden;
    color: grey;
    height: 0px;
    max-height: 0px;
    width: 100%;
    font-size: 14px;
    &:focus {
      outline: none;
    }
  }
  .field2 {
    position: relative;
    margin: 0;
    border-top: 1px solid grey;
    height: 100px;
    max-height: 100px;
    z-index: 2;
    overflow: auto;
  }
  .checker {
    display: none;
    &:checked + .task-des {
      cursor: default;
      height: auto;
      max-height: 500px;
      overflow: hidden;
      animation: show_notes .5s;
    }
  }
  .remove {
    display: none;
    text-align: center;
    border-radius: 0px;
    border: 1px solid rgb(194, 194, 194);
    font-size: 14px;
    height: 21px;
    line-height: 19px;
    width: 25px;
    background: none;
    color: grey;
    position: absolute;
    top: 5px;
    -moz-user-select: none; 
    -ms-user-select: none; 
    -o-user-select: none; 
    -webkit-user-select: none;
    cursor: pointer;
    &-show {
      display: block;
      right: 4px !important;
    }
    &:hover {
      color: grey;
      border: 1px solid grey;
    }
  }
  .first-btn {
    width: 25px;
    height: 21px;
  }
}

.show {
  display: block;
}

.item-style {
	background: white !important;
}

.hide {
	display: none !important;
}


@keyframes show_onEdit {
	from {height: 40px;}
}

@keyframes show_notes {
	from {max-height: 0;}
}

@keyframes show_item {
	from {transform: scaleY(0);}
}