.new-list {
  width: 200px;
  box-sizing: border-box;
  margin: 0 10px;
  background: #dfdfdf;
  border-radius: 3px;
  padding: 5px;
  animation: inject_column 0.7s ease;
  input {
    padding: 0 5px;
    box-sizing: border-box;
    font-family: montserrat;
    color: grey;
    background: #ddd;
    border: 1px solid grey;
    width: 100%;
  }
  .submit {
    cursor: pointer;
    margin-top: 10px;
    background: rgb(105, 185, 105);
    color: white;
    border: none;
    font-family: inherit;
    padding: 5px 10px;
    border-radius: 2px;
    box-sizing: border-box;
  }
  .close {
    background: none;
    color: grey;
    font-size: 12px;
    border: none;
    &:focus {
      outline: none;
    }
  }
}